@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}








.padre{
    width: 100%;
    background-color: green;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hijo{
    width: 300px;
    height: 500px;
    background-color: red;
    border-radius: 15px;

    top: 20px;
    z-index: 2;

}

.hijo:nth-child(2){
    position: sticky;
    background-color: aqua;
    top: 50px;
    z-index: 1;
}

/* 
top
bottom
left
right
z-index
*/


.contenedor{
    display: flex;
}

.img-contianer{
    position: sticky;
    top: 50px;
    height: 400px;
    background-color: blueviolet;
}